.row {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: auto;
    margin: 10px;
    padding: 10px;
    color: white;
}
.col {
    background-color: rgb(9, 139, 139);
    text-align: justify;
    flex: 1;
    margin: 0px 5px;
    padding: 25px 0px;
    padding-left: 25px;
}
.col-2{
    background-color:rgb(9, 139, 139);
    text-align: justify;
    flex: 2;
    margin: 0px 5px;
    padding: 25px 0px;
    padding-left: 25px;
}
.col-3{
    background-color:rgb(9, 139, 139);
    text-align: justify;
    flex: 3;
    margin: 0px 5px;
    padding: 25px 0px;
    padding-left: 25px;
}