* {
    padding: 0;
    margin: 0;
    
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

button {
    margin-top: 10px;
}

.content {
    margin: auto;
    width: auto;
    height: auto;
}

.page {
    margin: auto;
    justify-content: space-evenly;
    width: 1000px;
}

.navbar {
    width: auto;
    height: auto;
    display: flex;
    border: solid 1px gray;
    margin-bottom: 50px;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.box {
    width: auto;
    height: auto;
    border: solid 2px black;
    margin-bottom: 50px;
    display: flex;
    padding: 15px;
    align-items: center;
    text-align: center;
}

.box-2 {
    width: auto;
    height: auto;
    border: solid 2px black;
    margin-bottom: 50px;
    display: inline-flexbox;
    padding: 15px;
    padding-right: -15px;
}

.column {
    display: flex;
}

.col-3 {
    flex: 4;
    margin-right: 25px;
}

.col-2 {
    flex: 1;
    margin-left: 25px;
}

.navbar button {
    background-color: #2b78e4;
    color: white;
    padding: 3px 10px;
    font-size: 20px;
    border: 2px solid black;
}

#searchbar {
    width: 300px;
    height: 25px;
}

.box-2 button {
    width: 100%;
    background-color: #93C47D;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid black;
}

.box button {
    background-color: #FFD966;
    padding: 5px 10px;
}

a {
    color: #20649E;
    text-decoration: underline;
}